<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.solo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Solo"
        tools:targetApi="31">
        <activity
            android:name=".WorkoutSection.CardioNewActivity"
            android:exported="false" />
        <activity
            android:name=".WorkoutSection.MuscleHomeActivity"
            android:exported="false" />
        <activity
            android:name=".WorkoutSection.CardioHomeActivity"
            android:exported="false" />
        <activity
            android:name=".UserSection.UpdateHabitsActivity"
            android:exported="false" />
        <activity
            android:name=".UserSection.UpdateUserActivity"
            android:exported="false" />
        <activity
            android:name=".UserSection.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UserSection.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Login_Register.RegisterUserActivity"
            android:exported="false" />
        <activity
            android:name=".Login_Register.RegisterHabitsActivity"
            android:exported="false" />
        <activity
            android:name=".Login_Register.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD5VJH1oQILYI_4ko3flAXrBgHm2pYKXho"/>

    </application>

</manifest>